<div class="jumbotron text-center">
    <h1>Welcome to our cool app!</h1>
    
    <a ui-sref=".input" class="btn btn-primary">Enter a Palindrome</a>
    <a ui-sref=".api" class="btn btn-success">Generate Random Famous Quotes</a>
    <a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>
</div>

<div ui-view></div>

<div class="row">

    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-6">
        <div ui-view="columnOne"></div>
    </div>
    
    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-6">
        <div ui-view="columnTwo"></div>
    </div>

</div>    